// This file is empty within the template
// You can use it to override CSS from within your project

p,
.paragraph {
  font-size: 20px;
 }

 .main-title-custom {
 	margin-bottom: 0px;
 	padding-top: 50px;
 }

 .section-title{
  	margin-bottom: 15px;
 }